.wc-show.container-fluid {
  padding-top: 70px;
}

.wc-show_summary {
  > h2 {
    margin-bottom: 35px;
  }
}

.wc-show_map {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 70px !important;
  padding-bottom: 73px !important;

  #map {
    width: 100%;
    height: 100%;
  }
}

.wc-show_booking {
  text-align: center;
}

.wc-show_details {

}

.wc-show_description {
}


.wc-show_details-block {
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }

  > h3 {
    font-size: 1.5em;
  }
}
