<div class="navbar-lepetitcoin navbar-lepetitcoin-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-lepetitcoin-brand">
    <%= image_tag('le_petit_coin') %>
    <!-- cl_image_tag('nom sous cloudinary') -->
  </a>

  <!-- Right Navigation -->
  <div class="navbar-lepetitcoin-right hidden-xs hidden-sm">

    <!-- Search form -->
<!--     <form action="" class="navbar-lepetitcoin-search">
      <input type="text" class="navbar-lepetitcoin-search-input" placeholder="Search something">
      <button type="submit" class="navbar-lepetitcoin-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->


    <!-- Notification link-->
<!--     <a href="" class="navbar-lepetitcoin-item navbar-lepetitcoin-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a> -->

  <%= link_to 'Log in', new_user_session_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %>
  <%= link_to 'Sign up', new_user_registration_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %>
    <!-- Profile picture and dropdown -->
<!--     <div class="navbar-lepetitcoin-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-lepetitcoin-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-lepetitcoin-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Button (call-to-action) -->
<!--     <a href="" class="navbar-lepetitcoin-item navbar-lepetitcoin-button btn">Post stuff</a> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-lepetitcoin-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-lepetitcoin-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
      <!-- Text link -->
</div>
