<div class="wc-show container-fluid">
  <div class="row">
    <%= render 'wc-show_summary' %>
    <%= render 'wc-show_map' %>
  </div>

  <div class="row">
    <div class="wc-show_details col-md-12">
      LE CONTENU EN DESSOUS
    </div>
  </div>

</div>
