<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path "homepage_toilet_xbntud", crop: :fill %>')">
  <div class="banner-content">
    <h1>Le petit coin</h1>
    <p>Easiest way to pee when you want</p>
    <a class="btn btn-primary btn-lg">FIND IT</a>
  </div>
</div>

<div class="row gutter">
<p></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("map_location_px0bwt",
      width: 100, height: 100, crop: :fill) %>
      <h2>Simple</h2>
      <p>Enter your location and find all available toilets</p>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("door_zuzkpy",
      width: 100, height: 100, crop: :fill) %>
      <h2>Convenient</h2>
      <p>Our guests will welcome you with pleasure</p>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= cl_image_tag("toilet_jsyhz2",
      width: 100, height: 100, crop: :fill) %>
      <h2>Cheap</h2>
      <p>As cheap as it sounds</p>
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>

<div class="row gutter">
<p></p>
</div>

