.sticker-small{
  width:30px;
  height:30px;
  object-fit:cover;
  border-radius:3px;
  margin-right:5px;
}

.sticker-md{
  width:60px;
  height:60px;
  object-fit:cover;
  border-radius:3px;
  margin-right:5px;
}
